<select id="tickListDropDown">
	<option value="default" class="inline-block">
		Tick Lists
	</option>	
	<% if current_user.tick_lists.empty? %>
		<option class="noTicKListDropDown">
			You have no tick lists, dude!
		</option>
	<% else %>
		<% current_user.tick_lists.each do |tick_list| %>
			<option class="tickListOption" data-url="<%= user_tick_list_path(current_user, tick_list) %>">
				<%= tick_list.name %>
			</option>
		<% end %>
	<% end %>
</select>
