<div id="tickListDropDown" class="dropdown inline-block">
  <button id="dropDownButton" class="btn btn-default dropdown-toggle float-left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Tick Lists
    <span class="caret"></span>
  </button>
  <ul id="dropDownMenu"class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if current_user.tick_lists.empty? %>
      <li role="presentation" class="noTicKListDropDown pointer">
        You have no tick lists, dude!
      </li>
    <% else %>
      <% current_user.tick_lists.each do |tick_list| %>
        <li role="presentation">
          <span class="tickListOption pointer" data-url="<%= user_tick_list_path(current_user, tick_list) %>"><%= tick_list.name %></span> 
          <i class="fa fa-pencil float-right block edit-list pointer"></i> 
          <i class="fa fa-trash float-right block delete-list pointer"></i> 
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div id="createForm" class="inline-block float-left">
  <%= text_field_tag 'name', nil,  placeholder: 'tick list name', :class => "tickListInput" %>
</div>
<div class="inline-block buttonContainer pointer">
  <i id="createTickList" class="fa fa-plus-circle fa-3x green float-right"></i>
  <i id="cancelTickList" class="fa fa-times-circle fa-3x red inline-block float-right "></i>
  <i id="confirmTickList" class="fa fa-check-circle fa-3x green inline-block float-right"></i>
</div>
