<div id="tickList">
	<div class="tickListLine">
		<%= render "tick_lists/drop_down" %>
		</div>
	<div id="hoverDiv">
		<img id="dropImg" src="http://i.imgur.com/tulRda9.png" class="centered"/>
	</div>
	<div id="dropSuccess">
		<img id="dropSuccessImg" src="http://i.imgur.com/beCKVhr.png" class="centered"/>
	</div>
	<div id="tickListContainer">
	</div>
</div>

