<nav class='navbar navbar-default transparent'>
  <a class="navbar-brand" href="#" id='userNameDisplay'></a>
	<div class='navbar-right'>
			<ul class='nav navbar-nav'>
				<li><a href="#">home</a></li>
				<li style='margin-right:15px'><a href="#">blog</a></li>
			</ul>
	</div>
</nav>