<i class="fa fa-ellipsis-v"></i>
<div id="location-subsort-menu">
	<ul>
		<li class="location-subsort" data-location="state">state</li>
		<li class="location-subsort" data-location="area">area</li>
		<li class="location-subsort" data-location="area">subarea</li>
		<li class="location-subsort" data-location="crag">crag</li>
		<li class="location-subsort" data-location="section">section</li>
		<li class="location-subsort" data-location="face">face</li>
	</ul>
</div>