<div class='resultsHeader'>
	<span id="id-sort" data-sort=""></span>
	<span id="name-sort" class="down" data-sort="name">
		name
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="category-sort" class="down" data-sort="category">
		type
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="rating-sort" class="down" data-sort="rating">
		rating
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="height-sort" class="down" data-sort="height">
		height
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="pitch-sort" class="down" data-sort="pitches">
		pitches
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="location-sort" class="down" data-sort="state">
		state
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="wall-sort" class="down" data-sort="wall">
		wall
		<i class="fa fa-caret-down"></i>
	</span>
	<span id="url-sort" data-sort="url">url</span>
</div>