<div id='userFeed'>
	<img src="http://i.imgur.com/hSdU84W.jpg" class='feedImg' />
	<h1>Honnold Frees Muir Wall in 12 Hours, Solos Romantic Warrior</h1>

	<p>
		11/14/14 - Alex Honnold led the Muir Wall (5.13b/c) on El Capitan all-free, with no falls, in 12 hours. Just a few days earlier he finished a four-day free ascent of PreMuir (5.13c/d), which shares all but five pitches of the Muir (out of 34).
	</p>
	<p>
		"I did them both with my friend Josh McCoy, who I learned how to trad climb with many years ago," Honnold said. "It was awesome to have both adventures with him again."
	</p>
</div>