<div id='userRoutes'>
	<div class='searchImageWrapper'>
		<div class='searchImage'></div>
	</div>
	<h3 class='text-center searchBarHeader'>Let's look for rocks to climb, shall we?</h3>
	<%= render 'climbs/search', locals: {user: @user} %>
	<div class='interactiveContainer'>
		<%= render 'tick_lists/sidebox', locals: {user: @user} %>
		<div class='inline-block searchResults'>
		</div>
	</div>
</div>