<div id='userRoutes'>
	<h3 class='text-center searchBarHeader'>Let's look for rocks to climb, shall we?</h3>
	<div class='table'>
		<div class='table-cell float-left'>
			<%= render 'tick_lists/sidebox', locals: {user: @user} %>
		</div>
		<div class='table-cell'>
			<%= render 'climbs/search', locals: {user: @user} %>
			<%= render 'climbs/search_header' %>
			<div class='inline-block searchResults'>
			</div>
		</div>
	</div>
</div>