<div class="submitButtonDiv">
	<div class='centerButtonText'>
		<div class='inline-block'><i class="fa fa-circle-thin neon-orange"></i></i><i class="fa fa-spinner loadingSpinner glow-me"></i></div>
		<div class='inline-block'><span class='signinText'>sign up</span></div>
	</div>
</div>