#tickList {
	margin-top: 10px;
	margin-left: 20px;
  border-radius: 2px;
}

#tickListContainer {
	overflow: auto;
	display: inline-block;
	width: 250px;
	height: 300px;
	background-color: white;
  -moz-box-shadow: 1px 2px 3px #666;
  -webkit-box-shadow: 1px 2px 3px #666;
  box-shadow: 1px 2px 3px #666;
  border-radius: 2px;
}

.tickList {
  padding-left: 15px;
}

.tickListInput {
	margin-left: 7px;
}

#submitList {
	margin-right: 7px;
}

.tickListLine {
	width: 140px;
	display: block;
	margin:  0px auto;
	margin-bottom: 20px;
}

#tickListDropDown {
	margin-bottom: 5px;
}