#tickList {
	margin-top: 10px;
	margin-left: 20px;
  border-radius: 2px;
}

#tickListContainer {
	overflow: auto;
	display: inline-block;
	width: 250px;
	height: 300px;
	background-color: white;
  -moz-box-shadow: 1px 2px 3px #666;
  -webkit-box-shadow: 1px 2px 3px #666;
  box-shadow: 1px 2px 3px #666;
  border-radius: 2px;
  /*transition: background .2s linear;*/
  /*transition-delay: .3s;*/
}

#tickListContainer li {
	list-style: none;
}

.tickList {
  padding-left: 15px;
}

.tickListInput {
	display: inline-block;
	margin-left: 7px;
	width: 160px;
	height: 40px;
}

#submitList {
	margin-right: 7px;
}

.tickListLine {
	width: 260px;
	height: 50px;
	display: block;
	margin-bottom: 15px;
}

#dropDownButton {
	width: 162px;
	margin-left: 7px;
	font-weight: bold;
	height: 50px;
	font-size: 18px;
	background-color: #333333;
	box-shadow: 1px 2px 3px #666;
	color: white;
	letter-spacing: 3px;
	border: 1px solid #ccc;
	transition:box-shadow .2s ease-out, background .2s ease-in;
	-o-transition:box-shadow .2s ease-out, background .2s ease-in;
  -ms-transition:box-shadow .2s ease-out, background .2s ease-in;
  -moz-transition:box-shadow .2s ease-out, background .2s ease-in;
  -webkit-transition:box-shadow .2s ease-out, background .2s ease-in;
}

#dropDownButton:hover {
	box-shadow: 1px 8px 10px #666;
	background-color: black;
}

#dropDownMenu {
	margin-left: 7px;
}

#tickListDropDown {
	margin-bottom: 5px;
}

.buttonContainer i {
	transition: text-shadow .4s ease-out, color .4s ease-in;
	-o-transition: text-shadow .4s ease-out, color .4s ease-in;
  -ms-transition: text-shadow .4s ease-out, color .4s ease-in;
  -moz-transition: text-shadow .4s ease-out, color .4s ease-in;
  -webkit-transition: text-shadow .4s ease-out, color .4s ease-in;
}

#createTickList {
	padding-right: 30px;
}

#createTickList:hover, #confirmTickList:hover {
	text-shadow: 2px 3px 5px gray;
	color: #00E300 !important;
}

#cancelTickList:hover {
	text-shadow: 2px 3px 5px gray;
	color: #F51500 !important;
}


#confirmTickList {
	padding-right: 2px; 
}

.buttonContainer {
	width: 77px;
	height: 50px;
	padding-left: 2px;
}

.dragged {
	list-style: none;
	background-color: #FF9933;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.dragged p:first-child {
	padding-right: 5px;
	font-weight: bold;
	color: white;
	border-right: 1px solid black;
}

.dragged p:nth-child(3) {
	padding-left: 5px !important;
	color: black;
}

.tickListOption {
	border-bottom: 1px #333;
	padding: 3px 0px 3px 5px;
	font-size: 16px;
	letter-spacing: 1px;
	transition: color .2s ease-out, background .5s ease-in;
	transition-property: color, background;
	transition-duration: 0.2s, 0.5s;
	transition-timing-function: ease-out, ease-in;
	transition-delay: initial, initial;
  transition:padding .2s ease-out, background .2s ease-in;
	-o-transition:padding .2s ease-out, background .2s ease-in;
  -ms-transition:padding .2s ease-out, background .2s ease-in;
  -moz-transition:padding .2s ease-out, background .2s ease-in;
  -webkit-transition:padding .2s ease-out, background .2s ease-in;

}

.tickListOption:hover {
	padding-left: 12px;
	background-color: #FF9933;
	color: white;
}

.dropZoneContainer .routeLine {
	transition:opacity .4s ease-out;
	-o-transition:opacity .4s ease-out;
	-ms-transition:opacity .4s ease-out;
	-moz-transition:opacity .4s ease-out;
	-webkit-transition:opacity .4s ease-out;
	opacity: 0;
}

.dropZoneContainer #tickListContainer {
	background: url(http://i.imgur.com/KzpC08N.png) no-repeat center center;
	background-size: 55px 70px;
	background-color: white;
}
